.big-box {
  background-color: #C6C6C6;
  /* border: #444 2px solid; */
  border: #1E1F29 2px solid;
  border-right: none;
  box-shadow: 0px 10px 20px #529acd55;

  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  
  margin-top: 20px;
  padding: 30px;
  width: 40%;
  height: auto;
}

.line-numbers {
  padding-left: 2.8em;
}
.line-numbers .line-numbers-rows {
  left: 0;
}

/* block of code styled like cmd prompt but cool and modern */
.code-block {
  background-color: #1E1F29;
  color: #DDE2FF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  
  text-align: left;
  margin-top: 20px;
  padding: 30px;
  width: 20%;
  /* max-height: 200px; */
  /* max-height: 5%; */
  overflow-y: auto;
}

body {
  overflow-y:scroll;
  font-family: sans-serif;
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0;
  padding: 0;
}
  
h1 {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.code-block:pre

pre {
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.centered-text {
  text-align: center;
}


header {
  background-color: #707070;
  color: #fff;
  padding: 10px;
}

nav ul {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}